<div class="container">
	<h1>PRODUCTS LIST</h1>
</div>
<div class="jumbotron">
  <div class="container text-center">
    <% @products. each do |element|%>
      <h4><%= element.name %></h4>
      <p>Description: <%= element.description %><p>
      	<p>Price: <%= element.price %><p>
      		<p>Quantity: <%= element.quantity %><p>
      <p><a href="/product/<%= element.id%>">See more</a></p></br>
    <% end %>
  </div>
</div>
