<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
  
<table>
  <thead>
    <tr>
      <th scope = "col" >Item</th>
      <th scope = "col" >Description</th> 
      <th scope = "col" >Quantity</th>
      <th scope = "col" >Price</th>
      <th scope = "col" >Delete</th>
    </tr>
</thead>
 <tbody>

    <% Item.each do|i| %> 
    <tr>
      <td><%= i.name%></td>
      <td><%= i.description%></td> 
      <td><%= i.quantity%></td>
      <td><%= i.price%></td>
      <td><form action="/item_list/delete/<%= i.id %>" method="post">
      <input type="hidden" name="product_id" value=<%= i.id %>>
      <input type="submit" class="btn btn-danger btn-xs" value="Delete from items">
    </form></td>
    <%end%>

  </div>
</div>
 </tbody> 

</table>

