<h3>PRODUCTS IN BASKET</h3>

<div class="row marketing">
  <div class="col-lg-6">
    <% @basket. each do |product| %>
    <h4><%= product.name %></h4>

    <p>Price: <%= product.price %></p>
    <p>Units: <%= product.quantity %></p>

    <form action="/basket/delete/<%= product.id %>" method="post">
      <input type="hidden" name="product_id" value=<%= product.id %>>
      <input type="submit" class="btn btn-danger btn-xs" value="Delete from basket">
    </form>
    <% end %>
  </div>
</div>

<form action="/basket/payment">
  <center><input type="submit" class="btn btn-primary" value="   Pay   "><center>
</form>